.info {
    padding: 6px 8px;
    font: 14px Arial;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

}
.legend {
    line-height: 15px;
    color: #555;
}

.legend h4 {
  text-align: left;
  font-size: 14px;
  font: Arial;
  margin: 2px 12px 8px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 2px;
}

.legend .polyline {
  width: 12px;
  height: 2px;
  float: left;
  margin-top: 2px;
  opacity: 0.9;
}

.legend .polylinerer {
  width: 12px;
  height: 3px;
  float: left;
  margin-top: 2px;
  opacity: 0.9;
}

.legend .polygon {
  width: 12px;
  height: 12px;
  float: left;
  opacity: 0.7;
}
